<template>
  <div id="app">
    <loading ref="loading"/>
    <transition name="page" mode="out-in">
      <div class="container">
        <div class="wrapper">
          <card></card>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import Loading from './Loading'
import Card from './Card'

export default { 
  components: {
    Loading,
    Card
  },

  data: () => ({
    
  }),

  metaInfo () {
    const { appName } = window.config

    return {
      title: appName,
      titleTemplate: `%s · ${appName}`
    }
  },

  mounted () {
    this.$loading = this.$refs.loading
  },

  methods: {
  
  }
}
</script>