<template>
	<div class="table-usr stripped">
		<hgroup>
			<h1>Users Management</h1>
			<h3>CRUD user</h3>
		</hgroup>
      	<adduser></adduser>
    </div>
</template>

<script>
	import Adduser from './Form';
	export default {
	components: {
		Adduser
	}	
  }
</script>
