<template>
    <div class="table-responsive">
        <table class="table table-bordered" v-if="users && users.length">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Email</th>
                  <th scope="col">Role</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody v-for="user in users">                       
                <tr>
                    <td>    
                        #{{ user.id }}
                    </td>
                    <td>
                        {{ user.firstname }}  
                    </td>
                    <td>
                        {{ user.lastname }}
                    </td>
                    <td>
                        {{ user.email }} 
                    </td>
                    <td>
                        {{ user.role }}
                    </td>
                    <td>
                        <button @click="showUser(user.id)" class="btn btn-default btn-md">Edit</button>
                    </td>
                    <td>
                        <button @click="deleteUser(user.id)" class="btn btn-danger btn-md">Delete</button>
                    </td>
                </tr>                 
            </tbody>
        </table>

        <ul class="error" v-if="errors && errors.length">
            <li v-for="error of errors">
                {{error.message}}
            </li>
        </ul>

        <hgroup>
            <h1>Add or edit user</h1>
            <h3>Simply click on edit button or enter data</h3>
        </hgroup>

        
        <form action="#" @submit.prevent="edit ? updateUser(user.id) : addUser()">
           	
           	<div class="form-group label-floating">
                <label for="name" class="control-label">First Name</label>
                <input v-model="user.firstname" id="name" type="text" class="form-control" name="name">
            </div>

            <div class="form-group label-floating">
                <label for="name" class="control-label">Last Name</label>
                <input v-model="user.lastname" id="name" type="text" class="form-control" name="name">
            </div> 
          
            <div class="form-group label-floating">
                <label for="email" class="control-label">Email</label>
                <input v-model="user.email" id="email" type="text" class="form-control" name="email">
            </div>  

          	<div class="form-group label-floating">
                <label for="password" class="control-label">Password</label>
                <input v-model="user.password" id="password" :type="type" class="form-control" name="password">
            </div>

            <div class="form-group label-floating">
                <label for="books" class="control-label">Role</label>
    	            <select v-model="user.role" name="role" class="form-control">
    				  <option value="editor">Editor</option>
    				  <option value="superadmin">Superadmin</option>
    				</select>
            </div>

    	    <div class="form-group">
    	        <button v-show="!edit" type="submit" class="btn btn-primary">Add User</button>
    	        <button v-show="edit" type="submit" class="btn btn-primary">Update User</button>
    	    </div>
        </form>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
    data: function(){
      return {
        edit:false,
        users: [],
        errors: [],
        type: 'text',
        user:{
          id:'',
          firstname:'',
          lastname: '',
          email:'',
          password:'',
          role: '',
        }
      }
    },

    mounted: function(){
      this.getUsers();
    },
    
    methods: {
      getUsers:function(){
        axios.get('/api/users')
          .then((response) => {
            this.users = response.data;
          }).catch((error) => {
            console.log(error);
          });
      },  
      addUser: function(){
        let self = this;
        let params =Object.assign({}, self.user);
        axios.post('api/user/create', params)
          .then(function(){
            self.user.firstname = '';
            self.user.lastname = '';
            self.user.email = '';
            self.user.password = '';
            self.user.role = '';
            self.edit = false;
            self.getUsers();
          })
          .catch(e => {
            this.errors.push(e)
          })
      },
      showUser: function(id){
        let self = this;
        axios.get('api/user/'+id)
          .then(function(response){
            self.user.id = response.data.id;
            self.user.firstname = response.data.firstname;
            self.user.lastname = response.data.lastname;
            self.user.email = response.data.email;
            self.user.password = response.data.password;
            self.user.role = response.data.role;
            self.type = 'password'
          })
          self.edit = true;
          self.show = true;
      },
      updateUser: function(id){
        let self = this;
        let params =Object.assign({}, self.user);
        axios.put('api/user/'+id, params)
          .then(function(){
            self.user.firstname = '';
            self.user.lastname = '';
            self.user.email = '';
            self.user.password = '';
            self.user.role = '';
            self.edit = false;
            self.show = false;
            self.getUsers();
          })
          .catch(e => {
            this.errors.push(e)
          })
      },
      deleteUser: function(id){
        let self = this;
        axios.delete('api/user/'+id)
          .then(function(response){
            self.getUsers();
          })
          .catch(e => {
            this.errors.push(e)
          })
      }
    }
  }
</script>