@import 'variables';


.table-usr {
	margin-top: 10px
}
.table-usr h1 {
	font-weight: 600
}
.wrapper {
	box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
	padding: 30px;
	margin-top: 20px;
}
.error {
	padding: 20px 10px;
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    background: aliceblue;
}
.error li {
    list-style-type: none;
    text-align: center;
}
.fade-enter-active, .fade-leave-active {
  transition: all .3s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
hgroup {
	padding: 20px 0
}
hgroup h3 {
	margin-top: -10px;
}


